.hide {
  display: none;
}
.bold{
  font-weight: 1000;
}
.btn:active {
  transform: scale(0.95); /* Scale the button down slightly when pressed */
  background-color: #A5C5DC; /* Button Pressed Color */
  box-shadow: none; /* Remove box shadow when button is pressed */
}
.txt{
  background-color: #A5C5DC;
}
.btn{
  padding: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin:5px;
  background-color: #BBD5ED;
  color:#4C6663  ;
  border-radius: 5%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: background-color 0.3s ease;
  margin: 5px;
  
}


body{
  background-color: #CEFDFF;
}
.btn:hover{
  background-color: #92AFD7;
  color:#157A6E;
  transition: ease-out;
}

.txt{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5%;
  border-style: solid;
}